In [1]:
import pandas as pd
import numpy as np

# 데이터 불러오기
weather_2008_df = pd.read_csv('weather/2008_weather.csv', encoding = 'cp949')
weather_2009_df = pd.read_csv('weather/2009_weather.csv', encoding = 'cp949')
weather_2010_df = pd.read_csv('weather/2010_weather.csv', encoding = 'cp949')
weather_2011_df = pd.read_csv('weather/2011_weather.csv', encoding = 'cp949')
weather_2012_df = pd.read_csv('weather/2012_weather.csv', encoding = 'cp949')
weather_2013_df = pd.read_csv('weather/2013_weather.csv', encoding = 'cp949')
weather_2014_df = pd.read_csv('weather/2014_weather.csv', encoding = 'cp949')
weather_2015_df = pd.read_csv('weather/2015_weather.csv', encoding = 'cp949')
weather_2016_df = pd.read_csv('weather/2016_weather.csv', encoding = 'cp949')
weather_2017_df = pd.read_csv('weather/2017_weather.csv', encoding = 'cp949')
weather_2018_df = pd.read_csv('weather/2018_weather.csv', encoding = 'cp949')
weather_2019_df = pd.read_csv('weather/2019_weather.csv', encoding = 'cp949')
weather_2020_df = pd.read_csv('weather/2020_weather.csv', encoding = 'cp949')
weather_2021_df = pd.read_csv('weather/2021_weather.csv', encoding = 'cp949')
weather_2022_df = pd.read_csv('weather/2022_weather.csv', encoding = 'cp949')
weather_2023_df = pd.read_csv('weather/2023_weather.csv', encoding = 'cp949')

In [2]:
# 2008~2023 데이터 합치기
weather_all_df = pd.concat([weather_2008_df,weather_2009_df,weather_2010_df,weather_2011_df,weather_2012_df,weather_2013_df,weather_2014_df,
                           weather_2015_df,weather_2016_df,weather_2017_df,weather_2018_df,weather_2019_df,weather_2020_df,weather_2021_df,
                           weather_2022_df,weather_2023_df], ignore_index=True)

weather_all_df

         지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0       108  서울  2008-01-01 00:00    -7.0      NaN      3.5   52.0     NaN
1       108  서울  2008-01-01 01:00    -7.3      NaN      4.9   52.0     NaN
2       108  서울  2008-01-01 02:00    -7.5      NaN      4.1   52.0     NaN
3       108  서울  2008-01-01 03:00    -7.8      NaN      3.9   52.0     NaN
4       108  서울  2008-01-01 04:00    -7.9      NaN      4.0   53.0     NaN
...     ...  ..               ...     ...      ...      ...    ...     ...
134365  108  서울  2023-04-30 19:00    14.3      0.0      3.0   74.0     NaN
134366  108  서울  2023-04-30 20:00    13.7      0.0      3.0   80.0     NaN
134367  108  서울  2023-04-30 21:00    13.3      0.1      3.2   83.0     NaN
134368  108  서울  2023-04-30 22:00    12.8      0.0      1.8   81.0     NaN
134369  108  서울  2023-04-30 23:00    12.1      NaN      2.7   86.0     NaN

[134370 rows x 8 columns]

In [3]:
# 결측치 확인
weather_all_df.isnull().sum()

지점              0
지점명             0
일시              0
기온(°C)          3
강수량(mm)    120968
풍속(m/s)        53
습도(%)          45
적설(cm)     127954
dtype: int64

In [5]:
# 기온, 풍속, 습도 결측치는 앞 행에 있는 값으로 대체
weather_all_df['기온(°C)'].fillna(method='bfill', inplace=True)
weather_all_df['풍속(m/s)'].fillna(method='bfill', inplace=True)
weather_all_df['습도(%)'].fillna(method='bfill', inplace=True)

In [6]:
weather_all_df.isnull().sum()

지점              0
지점명             0
일시              0
기온(°C)          0
강수량(mm)    120968
풍속(m/s)         0
습도(%)           0
적설(cm)     127954
dtype: int64

In [7]:
weather_all_df.to_csv('weather/2008~2023_weather.csv', index=False, encoding='cp949')